<!-- Grid work like a flex
 place-content-center is used to content center horizentally and vertically
  h-screenis used to tak hight according to screen -->
  <div class="grid place-content-center bg-gray-500">
    <p class="text-white text-lg font-bold uppercase">Text Center Horizantally verically</p>
    <div class="p-4 mx-auto max-w-sm rounded-xl shadow-lg  bg-white mt-2">
      <div>
        <img class="h-18 w-18"
          src="https://th.bing.com/th/id/OIP.NXILvymg8PHUgZW6_b7fegHaHa?w=199&h=198&c=7&r=0&o=5&dpr=1.5&pid=1.7">
      </div>
      <div class="text-lg font-bold ">
        <div class="flex justify-center">
          Tailwind css
        </div>
        <div class="flex justify-center">
          By Hasnian
        </div>
      </div>
    </div>
    <button
      class="bg-blue-500 p-2 mt-2 text-white text-base rounded-lg w-auto hover:bg-blue-600 dark:bg-white dark:text-black">Click</button>
    <p class="text-white md:text-green-300 sm:text-red-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non,
      illo?</p>
    <div class="my-3 mx-auto bg-white rounded-lg max-w-sm overflow-hidden">
      <div class="md:flex flex-wrap">
        <div class="md:w-1/2"><img class="h-full w-full"
            src="https://www.bing.com/th?id=OIP.3l2nfzcHhMemSZooiH3B3AHaFj&w=153&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
            alt="" srcset=""></div>
        <div class="pl-1 text-base text-block md:w-1/2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates impedit
          vitae voluptatem odit. Natus labore animi incidunt omnis expedita rem dolore aliquam quod soluta veritatis
          possimus, maxime quisquam dolor quae.</div>
      </div>
    </div>
  </div>